* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 2px solid red;

}

nav {

    background-color: #C2E4FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    font-size: 1.5rem;


}

.menu {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 3rem
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.regbutton {
    padding: 0.6rem 2rem;
    background-color: #0090FF;
    border-radius: 0.4rem;
    color: whitesmoke;
    font-weight: 600;
    position: relative;
margin:3px 0px;
}

.intro {
    min-height: calc(100vh - 2.5rem);
  
    background-color: #C2E4FF;
    width: 100%;
    position: relative;
    display: flex;
}

.intro-content {
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intro-content p,
span {
    margin: 1.2rem 0px;
    font-size: 1.5rem;
    line-height: 43px;
}
.intro-content h1{
    font-size:2rem;
}
.intro-content .location {
    padding: 1rem 2rem;
    border-radius: 23px;
    background-color: #0090FF;
}

.intropic {
    width: 50%;
    min-height: 100%;
  
 text-align: center;
    position: relative;
}
.intropic .builderpic{
    width:80%;
    height:80%;
    mix-blend-mode: multiply;
}
